*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    
}
body{
    background: #181818		;
    color: #ECF0F1		;
    overflow: hidden;
    overflow-y: scroll;
}