* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #181818; /* ใช้ background-color */
    color: #ECF0F1; /* สีข้อความ */
    font-family: Arial, sans-serif; /* เพิ่ม font-family */
  }
  